/preprocessed/
/data/
/indexes/
/__pycache__/
/.idea/
*.txt
*.pdf
*.delta
*.sqlite3
*.cProfile
output.xml
!englishStopWords.txt
!data/compressed*
!data/term-counts.bin
!data/chapters-index-vbytes.bin
!data/doc-terms.pickle
!requirements.txt
